<div class="left-menu">
    <div class="image">
        <img src="/backend/img/admin.jpeg" alt="admin" title="admin">
        <h3><%= admin && admin.name ? admin.name : 'Admin' %>        </h3>
    </div>
    <ul>
        <li>
            <a href="/Supervisor/" class="active">
                <i class="fa fa-tachometer-alt"></i>Dashboard
            </a>
        </li>
        <li>
            <a href="/Supervisor/Customers">
                <i class="fa fa-users"></i>Customer
            </a>
        </li>
        <li>
            <a href="/Supervisor/Staffs">
                <i class="fa fa-users-cog"></i>Staff Manage
            </a>
        </li>
        <li>
            <a href="/Supervisor/Categories">
                <i class="fa fa-list"></i>Categories
            </a>
        </li>
        <li>
            <a href="/Supervisor/Products">
                <i class="fa fa-box"></i>Product
            </a>
        </li>
        <li>
            <a href="/Supervisor/Orders">
                <i class="fa fa-shopping-cart"></i>Order
            </a>
        </li>
        <li>
            <a href="/Supervisor/Queries">
                <i class="fa fa-comments"></i>Queries
            </a>
        </li>
        <li>
            <a href="/Supervisor/Login">
                <i class="fa fa-sign-in-alt"></i>Login
            </a>
        </li>
    </ul>
</div>

<div class="toggle">
    <ul>
        <li>
            <a href="/Supervisor/" class="active">
                <i class="fa fa-tachometer-alt"></i>Dashboard
            </a>
        </li>
        <li>
            <a href="/Supervisor/Customers">
                <i class="fa fa-users"></i>Customer
            </a>
        </li>
        <li>
            <a href="/Supervisor/Staffs">
                <i class="fa fa-users-cog"></i>Staff Manage
            </a>
        </li>
        <li>
            <a href="/Supervisor/Categories">
                <i class="fa fa-list"></i>Categories
            </a>
        </li>
        <li>
            <a href="/Supervisor/Products">
                <i class="fa fa-box"></i>Product
            </a>
        </li>
        <li>
            <a href="/Supervisor/Orders">
                <i class="fa fa-shopping-cart"></i>Order
            </a>
        </li>
        <li>
            <a href="/Supervisor/Queries">
                <i class="fa fa-comments"></i>Queries
            </a>
        </li>
        <li>
            <a href="/Supervisor/Login">
                <i class="fa fa-sign-in-alt"></i>Login
            </a>
        </li>
    </ul>
</div>
